@use '$styles/_functions';
@use '@unsass/breakpoint';

h1 {
	color: blue;
	font-size: functions.toRem(36);

	@include breakpoint.up('md') {
		color: red;
	}

	@include breakpoint.up('lg') {
		color: green;
	}
}

a {
	text-decoration: none;
}
